@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --collor-one:#7a34eb;
    --collor-two: #24262F;
    --hover-collor:#9b34eb;
    --p-collor:#4E525A;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}


.body-container{
    width: 70%;
}

a{
    text-decoration: none;
    color: var(--collor-two);
}


/* ------navbar---- */

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo{
    font-weight: 700;
}


.navbar-list{
    display: flex;
    list-style: none;
}

.list-item{
    margin: 0 2rem;
}

.list-link{
    font-weight: 600;
}

.list-link:hover{
    color: var(--collor-one);
}

.contact{
    font-weight: 600;
}